<form [formGroup]="colorForm">
  <fieldset [disabled]="disabled">
    <legend>Colorpicker</legend>
    <fieldset [formGroup]="colorForm.get('rgb')">
      <legend>RGB</legend>
      <label>red</label>
      <input type="number" formControlName="red" min="0" max="255">
      <label>green</label>
      <input type="number" formControlName="green" min="0" max="255">
      <label>blue</label>
      <input type="number" formControlName="blue" min="0" max="255">
    </fieldset>
    <div class="color-example" [style.background]="color | async">{{color | async}}</div>
  </fieldset>
</form>
